$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: rgb(235, 235, 235);
$background-color--ligther: rgb(244, 244, 244);
$background-color--darker: rgb(70, 70, 70);