

.localisation{
    height: 50px;
    background-color: $background-color;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.5);
    position: relative;
        &__icone{
            position: absolute;
            left: 30%;
        }
        &__text{
            position: absolute;
            left: 40%;
        }
}

.explorer{
    background-color: $background-color--ligther;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 50px 0;
    &__title{
        width: 300px;
    }
    &__text{
        width: 350px;
    }
    &__btn{
        background: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 200px;
        color: white;
        font-family: Roboto, sans-serif;
    }
}

.functionning{
    margin: 0 20px 0 20px;
    &__step{
        display: flex;
        align-items: center;
        height: 70px;
        background-color: $background-color--ligther;
        margin: 0 0 20px 0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px grey;
        position: relative;
        &:hover{
            background-color: #9256dc30;
            & i {
                color: $main-color;
            }
        }
        &__number{
            position: absolute;
            left: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            background-color: $main-color;
            color: white;       
        }
        & i {
            position: absolute;
            font-size: 18px;
            left: 30px;
            color: grey;
        }
        &__text{
            font-weight: bold;
            position: absolute;
            left: 70px;
        }
    }
}

.restaurant{
    background-color: $background-color;
    padding: 20px 20px 20px 20px;
    &__card{
        height: 260px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 5px 5px 10px grey;
        position: relative;
        & a{
            color: black;
            text-decoration: none;
        }
        &__img{
            height: 180px;
            border-radius: 15px 15px 0 0;
            position: relative;
            overflow: hidden;
            & img{
                max-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__title {
            & h2, p{
                margin-left: 5%;
                font-size: 18px;
                height: 5px;
            }
        }
        &__checkbox{
            position: absolute;
            right: 10%;
            top: 80%;
            & input[type="checkbox"]{
                display: none;
            }
            & input[type="checkbox"]~i{
                animation: checkbox_unlike 0.5s;
            }
            & input[type="checkbox"]:checked~i{
                font-weight: 900;
                background: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
                background-clip: text;
                -webkit-background-clip:text;
                color:transparent;
                animation: checkbox_like 0.5s;
            }
            & i{
                transform: scale(150%);
            }
        }
        &__new{
            padding: 0px 20px;
            line-height: 0px;
            background-color: #99e2d0;
            color: #169d67;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            top: 5%;
            right: 5%;

        }
    }
}