.RestaurantBody{
    background-color: $background-color--ligther;
}

#PaletteGoutImg{
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#NoteEnchanteeImg{
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#FrancaiseImg{
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#DeliceSensImg{
    background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.RestaurantImg{
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.RestaurantName{
    margin-top: -50px; /* move on the background*/
    background-color: $background-color--ligther;
    border-radius: 30px 30px 0 0;
    &__header{ /* Positioning title and heart */
        display: flex;
        justify-content: space-around;
        align-items: center;
        & h2{ 
            /* Restaurant Name */
            font-family: Shrikhand, arial;
        }
    }
}
.MenuBoard{
    &  h2{
        /* Starter,dish,dessert*/
        font-size: 19px;
        font-weight: 400;
         /*border creation*/
        width: 40px;
        height: 25px;
        border-bottom: 3px solid $tertiary-color;
        }
    &__Card{
        /* Animation Wrapper */
        animation: menu_wrapper 1s;
        animation-fill-mode: forwards;
        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.4s;
        }
        &:nth-child(4){
            animation-delay: 0.6s;
        }
        &:nth-child(5){
            animation-delay: 0.8s;
        }
        opacity: 0;
        /* Animation setup */
        &:hover{
            .MenuBoard__Card__Slider{
                transition-duration: 1s;
                width: 70px;
                & i{
                    animation: SpinAnim 1s;
                }
            }
        }
        /* Card form */
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
        padding: 0 0 0 10px;
        margin: 0 10px 10px 10px;

        /*positioning content*/
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3, p{
            /*margin corection for card description*/
            margin: 0;
        }
        & > p{
            /*Price alignement*/
            font-weight: bold;
            transform: translateY(8px);
            padding: 0 10px 0 10px;
        }
        &__Content{
            /*Description form*/
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            & h3,p{
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & h3{
                font-size: 17px;
            }
        }
        &__Slider{
            /*Slider form*/
            transition-duration: 0.5s;
            width: 0px;
            height: 70px;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            position: relative;
            overflow: hidden;
            & i{
                position: absolute;
                top: 35%;
                left: 35%;
                color: $tertiary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background-color: white;

            }
        }
    }
}
/* Order Button */
.Command{
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    &__Btn{
        transition-duration: 0.2s;
        background: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 150px;
        color: white;
        font-family: Roboto, sans-serif;
        box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.2);
        &:hover{
            transition-duration: 0.2s;
            opacity: 0.8;
            box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.2);
        }
    }
}