@media screen and (min-width: 1170px){
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        & ul{
        display: flex;
        justify-content: space-between;
        width: 700px;
        }
    }

    #index{
        
        .explorer, .functionning{
            max-width: 80%;
            margin: auto;
        }

        .explorer{
            background-color: white;
            &__text{
                width: 100%;
            }
        }

        .functionning{
            & h2{
                display: flex;
                justify-content: center;
            }
            &__allstep{
                display: flex;
                justify-content: space-around;
            }
            &__step{
                width: 320px;
            }
        }
        .restaurant{
            padding: 20px 10% 20px 10%;
            &__allcard{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__card{
                min-width: 400px;
                width: 45%;
                margin-left: 10px;
                margin-right: 10px;
            }
            & h2{
                margin-left: 5%;
            }
        }
    }

    .RestaurantBody{
        background-color: white;
    }

    .RestaurantImg{
        height: 500px;
    }
    .RestaurantName, .MenuBoard, .Command,.FlexMenuBoard{
        width: 90%;
        margin: auto;
        background-color: $background-color;
    }
    .MenuBoard, .Command{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .RestaurantName{
        margin-top: -50px;
        &__header{
            display: flex;
            justify-content: space-between;
            margin: 0 20px 0 20px;
        }
    }
    .Command{
        align-items: center;
        border-radius: 0 0 30px 30px;
        margin-bottom: 20px;
    }
    .FlexMenuBoard{
        display: flex;
        }
    .MenuBoard{
        &__Card{
            width: 330px;
        }
        & h2{
            margin-left: -40px;
        }

    }

}