 #restaurant_page{
    background-color: $background-color--ligther;
 }

.img_presentation{
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.RestaurantName{
    margin-top: -50px; /* move on the background*/
    background-color: $background-color--ligther;
    border-radius: 30px 30px 0 0;
    &__header{ /* Positioning title and heart */
        display: flex;
        justify-content: space-around;
        align-items: center;
        & h2{ 
            /* Restaurant Name */
            font-family: Shrikhand, arial;
        }
    }
}

.MenuBoard{
    &  h2{
        /* Starter,dish,dessert*/
        font-size: 19px;
        font-weight: 400;
         /*border creation*/
        width: 40px;
        height: 25px;
        border-bottom: 3px solid $tertiary-color;
    }
    &__Card{
        /* Animation Wrapper */
        animation: menu_wrapper 1s;
        animation-fill-mode: forwards;
        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.4s;
        }
        &:nth-child(4){
            animation-delay: 0.6s;
        }
        &:nth-child(5){
            animation-delay: 0.8s;
        }
        opacity: 0;/* Checkbox setup */
        & input[type="checkbox"]{
            display: none;
        }
        & input[type=checkbox]~.MenuBoard__Card__Slider {
            animation: SliderAnimBack 0.5s;
        }
        & input[type=checkbox]:checked~.MenuBoard__Card__Slider {
            animation: SliderAnim 1s;
            animation-fill-mode: forwards;
            & i{
                animation: SpinAnim 1s;
            }
        }
        /* Card form */
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
        padding: 0 0 0 10px;
        margin: 0 0 10px 0;

        /*positioning content*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        & h3, p{
            /*margin corection for card description*/
            margin: 0;
        }
        & > p{
            /*Price alignement*/
            transform: translateY(8px);
        }
        &__Content{
            /*Description form*/
            overflow: hidden;
            white-space: nowrap;
            & h3,p{
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & h3{
                font-size: 17px;
            }
        }
        &__Slider{
            /*Slider form*/
            width: 0px;
            height: 70px;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            position: relative;
            overflow: hidden;
            & i{
                position: absolute;
                top: 35%;
                left: 35%;
                color: $tertiary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background-color: white;

            }
        }
    }
}

.CommandBtn{
    background: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    color: white;
    font-family: Roboto, sans-serif;
}